@import '//fonts.googleapis.com/icon?family=Material+Icons';

$color: #004d70;
$speed: 1.5s;
$ease: ease;
$stroke: 10vmin;
$ripples: 1;
$alpha: 0.2;
$size: 56px;

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

  
.pulsating {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: #004d70;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  animation: pulsate 1.5s ease infinite;
}
  svg {
    fill: white;
    width: 56px / 5 * 4;
    height: 56px / 5 * 4;
  }
}

@keyframes pulsate {
$from: ();
$to: ();
  @for $i from 0 to 1 { }
    @if $i < 1 - 1 {
      $shadow: 0 0 0 ($i * $stroke) rgba($color, $alpha);
      $from: append($from, $shadow, comma);
      $shadow: 0 0 0 (($i + 1) * $stroke) rgba($color, $alpha);
      $to: append($to, $shadow, comma);
	  
    }

    @else if $i == 1 - 1 {
      $shadow: 0 0 0 ($i * $stroke) rgba($color, $alpha);
      $from: append($from, $shadow, comma);
      $shadow: 0 0 0 (($i + 1) * $stroke) rgba($color, 0);
      $to: append($to, $shadow, comma);
    }
  }

  0% {
    box-shadow: $from;
  }

  100% {
    box-shadow: $to;
  }
}

.phone {
  border-radius: 50%;
  font-size: 24px;
  height: 56px;
  margin: auto;
  min-width: 56px;
  width: 56px;
  padding: 0;
  overflow: hidden;
  background: rgba(158,158,158,.2);
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
  position: relative;
  line-height: normal;
  background: #004d70;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

  .inner-pulse {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    height: 45px;
    margin: auto;
    min-width: 45px;
    width: 45px;
    background: transparent;
  }
    
    i {
      animation: shake 1.5s ease infinite;
    }
  }
}

@keyframes innerpulse {
  0% {
    height: 0px;
    margin: auto;
    min-width: 0px;
    width: 0px;
    opacity: 0;
  }
  35% {
    height: 35px;
    min-width: 35px;
    width: 35px;
  }
  50% {
    height: 45px;
    min-width: 45px;
    width: 45px;
    opacity: 1;
  }
  65% {
    height: 35px;
    min-width: 35px;
    width: 35px;
  }
  100% {
    height: 0px;
    min-width: 0px;
    width: 0px;
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    $size: 20vmin;
  }
  35% {
    height: 56px;
    min-width: 56px;
    width: 56px;
  }
  50% {
    height: 65px;
    min-width: 65px;
    width: 65px;
  }
  65% {
    height: 56px;
    min-width: 56px;
    width: 56px;
  }
  100% {
    height: 56px;
    min-width: 56px;
    width: 56px;
  }
}

@keyframes shake {
  0% {transform: translate3d(0px, 0, 0);}
  74% {transform: translate3d(2px, 0, 0);}
  75% {transform: translate3d(-2px, 0, 0);}
  85% {transform: translate3d(2px, 0, 0);}
  95% {transform: translate3d(-2px, 0, 0);}
  99% {transform: translate3d(2px, 0, 0);}
  100% {transform: translate3d(0, 0, 0);}
}
 